*.[oa]
*.lo
*.la
Makefile.in
Makefile
.deps
.libs
*.sw[po]
*.tar.*
*.orig
*.rej
*.bak
*~
*.pyc
*.loT
.semanticache

aclocal.m4
autom4te.cache/
config.log
config.rpath
config.status
configure

po/*.gmo
po/wormux.pot

src/config.h
src/config.h.in
src/stamp-h1
src/wormux

tools/list_games/wormux-list-games
tools/servers/game_server/wormux-server
tools/servers/index_server/wormux-index-server