<?xml version="1.0" encoding="utf-8"?>
<resources>
  <author>
    <nickname>BeBeLiOuS</nickname>
    <email>contact@bebelious.fr</email>
    <country>France</country>
  </author>
  <surface name="sky" file="wc_fond.jpg" />
  <surface name="map" file="wc_decor.png" />
  <surface name="preview" file="wc_preview.jpg" />
  <name>Wc</name>
  <water>no</water>
  <nb_mine>3</nb_mine>
  <is_open>1</is_open>
</resources>
