<?xml version="1.0" encoding="utf-8"?>
<resources>
  <author>
    <nickname>BeBeLiOuS</nickname>
    <email>contact@bebelious.fr</email>
    <country>France</country>
  </author>
  <surface name="sky" file="egypte_fond.jpg" />
  <surface name="map" file="egypte_decor.png" />
  <surface name="preview" file="egypte_preview.jpg" />
  <name>Egypte</name>
  <water>water</water>
  <add_pad>1</add_pad>
  <point name="upper_left_pad" x="120" y="400" />
  <point name="lower_right_pad" x="120" y="0" />
  <nb_mine>4</nb_mine>
  <is_open>1</is_open>
</resources>
