[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Icon=wormux_128x128.png
Exec=wormux
Terminal=false
StartupNotify=false

Name=Wormux
GenericName=Arcade Game
GenericName[pl]=Gra zręcznościowa
Comment=A 2D game where funny characters launch funny weapons
Comment[de]=Ein 2D Spiel mit lustigen Figuren und Waffen
Comment[es]=Un juego en 2D donde extraños personajes se destripan con alegría
Comment[fr_FR]=Un jeu en 2D où de drôles de personnages s'étripent joyeusement
Comment[it]=Un gioco in 2D dove dei simpatici personaggi si sparano allegramente
Comment[pl]=Gra 2D, w której zabawne postacie używają zabawnego uzbojenia
Comment[ro]=Un joc în 2D în care personaje amuzante lansează arme amuzante

Categories=Game;ArcadeGame;
